* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 10;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
}

.menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px 20px;
    transition: right 0.3s ease;
    overflow-y: auto;
}   

.menu.active {
    right: 0;
}
.hamburger.active span {
    background-color: #000; /* Change this to your desired color */
}


.menu ul {
    list-style-type: none;
}

.menu ul li {
    margin-bottom: 20px;
}

.menu ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #667eea;
}

.chapter {
    position: relative;
}

/* .dropdown {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}



.chapter:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    animation: fadeInDown 0.3s ease-out;
} */

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* .dropdown li {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    cursor: default;
} */

.hero {
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #fff;
    color: #667eea;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #667eea;
    color: #fff;
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }
    
    /* .dropdown {
        position: static;
        width: 100%;
        box-shadow: none;
        padding-left: 20px;
    } */
    
}